// Estilos carrito de compra

#container-cart{
    background-image: url("../../assets/img/shop/shop1.jpg");
    background-size: cover;
    height: 200vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

#container-cart-2{
    background-color: color(primary-fondo);
    width: 70%;
    height: fit-content;
    margin-top: 60px;
    transition-duration: 0.5s;
}

#container-cart-2:hover{
    background-color: color(primary);
}

#logo-cart{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#titulo-cart > h3{
    display: flex;
    justify-content: center;
    color: color(terciary);
}

#container-cart-3{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#cart-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

#div-products{
    background-color: color(primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 3px solid color(terciary);
    @include border-radius(10px);
}

#div-products > a > img{
    width: 120px;
    height: 120px;
}

#cart-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}


