// Estilos para la página de precios

#container-rates{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../../assets/img/rates/rates1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#rates{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 40px;
}

#rates1, #rates2{
    width: 40%;
    background-color: color(primary-fondo);
    height: fit-content;
    padding: 20px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rates1:hover, #rates2:hover{
    background-color: color(primary);
}

#rates1 > h2{
    color: color(terciary);
    margin: 10px;
}

#rates1 > h3, #rates2 > h3{
    color: color(terciary);
    margin: 10px;
}

#type-rooms{
    display: flex;
}

#type-rooms > div{
    margin: 10px;
}

#type-rooms > div > h3{
   color: color(terciary);
}