// Estilos para la página de ubicacion y lugares

#container-where{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../../assets/img/where/where1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#container-where-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../../assets/img/where/where1.jpg");
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 40px solid color(primary-fondo);
}

#container-where2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../../assets/img/where/where2.jpg");
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 40px solid color(primary-fondo);
}

#container-where3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../../assets/img/where/where3.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#where{
    text-align: center;
    background-color: color(primary-fondo);
    width: 50%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
    margin: 40px;
}

#where:hover{
    background-color: color(primary);
}

#where > p{
    margin-top: 20px;
    margin-bottom: 20px;
}

#where > h3{
    color: color(terciary);
}

#where1{
    background-color: color(primary-fondo);
    width: 60%;
    height: fit-content;
    padding: 30px;
    text-align: center;
    transition-duration: 0.5s;
    margin: 40px;
}

#where1:hover{
    background-color: color(primary);
}

#where1 > h2{
    color: color(terciary);
}

#where1 > p{
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-where > p{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid color(secondary-fondo);
}